body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.header {
    background-color: rgb(5, 4, 4);
    color: rgb(248, 248, 252);
    border-color: #f8f7f7;
    min-height: 50px;
    border: 1px solid transparent;
}

.inner-header {
    width: 80%;
    margin: auto;
}

.header-link {
    float: right;
    font-size: 16px;
    height: 50px;
    padding: 15px;
    font-weight: bold;
}

.hh {
    float: left;
    height: 50px;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
}

.content {
    min-height: 100%;
}
.banner-image {
    padding-bottom: 50px;
    color: #f8f7f7;
    text-align: center;
    background-image: url("bank.jpg");
    background-position: center center;
    background-size: cover;
}
.inner-banner-image {
    padding-top: 12%;
    width: 100%;

}
.banner-content {
    position: relative;
    padding-top: 6%;
    padding-bottom: 6%;
    overflow: hidden;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.7);
    max-width: 660px;
}
.container {
    width: 90%;
    margin: auto;
    overflow: hidden;
    text-align: center;
}



footer {
    background-color: #000;
    color: rgb(247, 243, 243);
	bottom: 0;
    font-size: 14px;
}

body
{
	font-family:'Oxygen',sans-serif;
}
#nav-bar
{
	background-color:#0c0113;
	position:static;
	top:0;
	z-index:10;
	float: right;
}
.nav-link:hover{
    background-color:blue;
}
.nav-link {
	font-family:'Oxygen',sans-serif;

	
}
.navbar
{
	
    padding: 0 !important;
}
navbar-brand img
{
	height:40px;
	padding-left:20px;
}
.navbar-nav li
{
	padding: 0 10px;
}
.navbar-nav li a
{
color:#fff !important;
font-weight:600;
float:right;
text-align:left;
}
.fa-bars
{
	color:#fff;
	font-size:30p !important;
}
.navbar-toggler
{
	outline:none !important;
}
/*---banner section--*/
#main
{
	text-align: center;
	font-weight: bold ;

background-color:#0a0b3b;
color:#fff;
padding-top:5%;	
}
.container h1 {
	font-family: 'Arvo', serif;
}
.container img{ 
	padding-bottom: 10px;
}

/*---service section---*/
#features1
{
	text-align:center;
	font-family:'Oxygen',sans-serif;
	
}
 #features
 {
     text-align: center;
	 font-family:'Oxygen',sans-serif;
	 padding: 10% 15%; background-image:url("./IMG_15022021_130857_\(1600_x_600_pixel\).jpg");
	
 }
 .features1 h3
{
	text-shadow: royalblue;
	padding:5px;
	margin-top:25px;
	text-transform:uppercase;
	font-family:'Oxygen',sans-serif;
}
#features1 p{
	font-family: 'Montserrat', sans-serif;
	text-align:center;
	text-shadow: royalblue;
	font-weight: bold;
}

.features h3
{
	padding:5px;
	margin-top:25px;
	text-transform:uppercase;
	font-family:'Oxygen',sans-serif;
}
.title::before
{
	font-family: 'Arvo', serif;
	content:'';
	background:#dfdfe7;
	height:5px;
	width:600px;
	margin-left:auto;
	margin-right:auto;
	display:block;
	transform:translatey(63px);
}
.title::after
{
	font-family: 'Arvo', serif;
	content:'';
	background:#e9e9ee;
	height:10px;
	width:50px;
	margin-left:auto;
	margin-right:auto;
    margin-bottom:40px;
	transform:translatey(8px);
}
#features .btn-primary
{
	box-shadow:none;
	padding:10px 25px;
	border:none;
	align-content: center;
	background-image:linear-gradient(to right,#a517ba,#5f1782)
}
/* Action*/
  #action{
    background-color:#94da39;
    padding: 7.5% 15%;
    text-align: center;
	font-family: 'Arvo', serif;
    line-height: 1.5;
    color: #fff;
  }
  .main{
    font-size: 3rem;
    line-height: 1.5;
    padding: 10px 0px;
  }
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
/* footer */
#footer{
	font-family:'Oxygen',sans-serif;
	background-color:#0a0b3b;
    color:#fff;
    padding: 5.5% 25%;
    text-align: center;
}



